<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="static/img/rrr.png" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          [% if(!authenticated) '<a class="button is-primary" href="/register"><strong>Register</strong></a><a href="/login" class="button is-light">Log in</a>' else '<a class="button is-primary" href="/profile"><strong>Profile</strong></a><a href="/logout" class="button is-light">Log out</a>' %]
        </div>
      </div>
    </div>
  </div>
</nav>
