<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#ffffff">

<link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#5e60ce">

<script type="text/javascript" src="/static/ga.js"></script>
<link rel="stylesheet" href="/static/styles.css" type="text/css">
<script type="text/javascript" src="/static/ambiorix.js"></script>
<script type="text/javascript" src="/static/delete.js" defer></script>
<script src="https://kit.fontawesome.com/1f063e7710.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/navbar.js"></script>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@devOpifex">
<meta name="twitter:creator" content="@jdatap">
<meta name="twitter:title" content="rrr.is">
<meta name="twitter:description" content="RRR - shorten URLs, built with R and {ambiorix}">
<meta name="twitter:image" content="https://rrr.is/static/img/rrr-banner.png">
