<!DOCTYPE html>
<html lang="en">
<head>
  [! partials/header.html !]
  <title>RRR</title>
</head>
<body>
  [! partials/before-body.html !]
  <section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          RRR
        </p>
        <p class="subtitle">
          Shorten URLs
        </p>
        <div class="tags has-addons is-centered">
          <span class="tag">Version</span>
          <span class="tag is-primary">Beta</span>
        </div> 
        <a href="/register" class="button is-light">Get Started</a>
      </div>
    </div>
  </section> 
  <section class="section">
    <div class="container">
    </div>
  </section>
</body>
</html>
