<!DOCTYPE html>
<html lang="en">
<head>
  [! partials/header.html !]
  <title>RRR</title>
</head>
<body>
  [! partials/before-body.html !]
  <section class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          <i class="fas fa-lg fa-paw"></i>
          RRR
        </h1>
        <h2 class="subtitle">
          Shorten URLs
        </h2>
        <div class="tags has-addons is-centered">
          <span class="tag">Version</span>
          <span class="tag is-warning">Beta</span>
        </div> 
        <a href="/register" class="button is-light">Start</a>
      </div>
    </div>
  </section> 
  [! partials/footer.html !]
</body>
</html>
