<!DOCTYPE html>
<html lang="en">
<head>
  [! partials/header.html !]
  <title>RRR</title>
</head>
<body>
  [! partials/before-body.html !]
  <section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          RRR
        </p>
        <p class="subtitle">
          Shorten URLs
        </p>
      </div>
    </div>
  </section> 
  <section class="section">
    <div class="container">
    </div>
  </section>
</body>
</html>
