<!DOCTYPE html>
<html lang="en">
<head>
  [! partials/header.html !]
  <title>RRR - Login</title>
</head>
<body>
  [! partials/before-body.html !]
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="title">Login</h1>
          <p>
            Don't have an account?
            <a href="/profile/register" class="has-text-primary">Register</a>
          </p>
          <form action="/profile/login" method="POST" enctype="multipart/form-data">
            <input name="_csrf" type="hidden" value="[% csrf %]">
            <div class="field">
              <label class="label">Email</label>
              <p class="control has-icons-left has-icons-right">
                <input name="email" class="input [% if(username != '') 'is-danger' else '' %]" type="email" placeholder="me@company.com" value="[% existing_email %]">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
              <p class="help is-danger">[% username %]</p>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <p class="control has-icons-left">
                <input name="password" class="input [% if(password != '') 'is-danger' else '' %]" type="password" placeholder="*****">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
              <p class="help is-danger">[% password %]</p>
            </div>
            <div class="field">
              <p class="control">
                <button class="button is-link">
                  Login
                </button>
              </p>
            </div> 
          </form>
          <p class="has-text-danger">[% error %]</p>
        </div>
      </div>
    </div>
  </section>
  [! partials/footer.html !]
</body>
</html>


