<!DOCTYPE html>
<html lang="en">
<head>
  [! partials/header.html !]
  <title>RRR - Profile</title>
</head>
<body>
  [! partials/before-body.html !]
  <section class="section">
    <div class="container">
      <h1>[% email %]</h1>
      <div class="columns">
        <div class="column">
          [% urls %]
        </div>
        <div class="column">
          <h2>Shorten URL</h2>
          <form action="/profile" method="POST" enctype="multipart/form-data">
            <div class="field">
              <label class="label">URL</label>
              <div class="control">
                <input name="url" class="input" type="text" placeholder="https://ambiorix.dev" value="[% url %]">
              </div>
            </div>
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  rrr.is/
                </a>
              </p>
              <p class="control is-expanded">
                <input name="path" class="input" type="text" placeholder="xyz">
              </p>
            </div>
          </form>
        </div>
      </div> 
    </div>
  </section>
</body>
</html>
