<!DOCTYPE html>
<html lang="en">
<head>
  [! partials/header.html !]
  <title>RRR - Profile</title>
</head>
<body>
  [! partials/before-body.html !]
  <h1>[% email %]</h1>
  <div class="columns">
    <div class="column">
      [% urls %]
    </div>
    <div class="column">
      <h2>Shorten URL</h2>
      <div class="field">
        <label class="label">URL</label>
        <div class="control">
          <input class="input" type="text" placeholder="https://ambiorix.dev">
        </div>
      </div> 
    </div>
  </div> 
</body>
</html>
