<!DOCTYPE html>
<html lang="en">
<head>
  [! partials/header.html !]
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

  <script src="/static/data.js"></script>
  <title>RRR - Profile</title>
</head>
<body>
  [! partials/before-body.html !]
  <section class="section">
    <div class="container">
      <h1 class="title">Profile</h1>
      <h2 class="subtitle">[% email %]</h2>
      <div class="columns">
        <div class="column">
          <h2 class="is-size-4">Your URLs</h2>
            <form method="POST" action="/profile/delete" enctype="multipart/form-data"><input name="_csrf" type="hidden" value="[% csrf %]"><p class="shortened-url"><a href="https://rrr.is/[% urls$hash %]"><span class="icon-text"><span class="icon"><i class="fas fa-external-link-alt"></i></span><span>rrr.is/[% urls$hash %]</span></span></a> [% urls$original %] <input name="delete" value="[% urls$hash %]" type="hidden" /><a id="predelete" class="del mr-2"><span class="icon has-text-danger"><i class="fas fa-trash"></i></span></a><button id="delete" class="mr-2 hidden" type="submit"></button><i class="fas fa-chart-bar get-data" data-hash="[% urls$hash %]"></i></p></form>
          <br/>
          <canvas id="plot" style="margin:0 auto;display:none;" width="400" height="150"></canvas>
          <div id="no-data" class="box" style="display: none;">
            <p class="is-size-3">
              No Data yet
              <span class="icon">
                <i class="far fa-frown"></i>
              </span> 
            </p>
          </div> 
        </div>
        <div class="column is-one-third">
          <h2 class="is-size-4">Shorten URL</h2>
          <form action="/profile" method="POST" enctype="multipart/form-data">
            <input name="_csrf" type="hidden" value="[% csrf %]">
            <div class="field">
              <label class="label">URL</label>
              <div class="control">
                <input name="url" class="input" type="text" placeholder="https://ambiorix.dev" value="[% url %]">
              </div>
            </div>
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  rrr.is/
                </a>
              </p>
              <div class="control is-expanded">
                <input name="path" class="input [% ifelse(path_error != '', 'is-danger', '') %]" type="text" placeholder="xyz">
              </div>
            </div>
            <p class="help is-danger">
              [% path_error %]
            </p>
            <div class="field">
              <div class="control">
                <button class="button is-link">Shorten</button>
              </div>
            </div> 
          </form>
          <p class="has-text-danger">
            [% error %]
          </p>
          <p>
            <a class="has-text-succcess" href="http://[% shortened %]">
              [% shortened %]
            </a>
          </p>
        </div>
      </div> 
    </div>
  </section>
  <hr>
  <section class="section">
    <div class="container">
      <h3 class="is-size-4">Reset Password</h3>
      <div class="columns">
        <div class="column is-one-third">
          <form action="/profile/reset" method="POST" enctype="multipart/form-data">
            <input name="_csrf" type="hidden" value="[% csrf %]">
            <div class="field">
              <label class="label">Old Password</label>
              <p class="control has-icons-left">
                <input name="passwordOld" class="input" type="password" placeholder="*****">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label class="label">New Password</label>
              <p class="control has-icons-left">
                <input name="passwordNew" class="input" type="password" placeholder="*****">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label class="label">Re-enter new password</label>
              <p class="control has-icons-left">
                <input name="passwordNew2" class="input [% if(password != '') 'is-danger' else '' %]" type="password" placeholder="*****">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
              <p class="help is-danger">[% password %]</p>
            </div>
            <div class="field">
              <p class="control">
                <button class="button is-link">
                  Reset
                </button>
              </p>
            </div> 
          </form>
        </div>
      </div>
    </div>
  </section>
  [! partials/footer.html !]
  <div class="modal" id="deletemodal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Deletion</p>
      </header>
      <section class="modal-card-body">
        <p>Are you sure you want to delete this URL?</p>
        <p>Deleted URLs are not recoverable.</p>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button id="deleteconfirm" class="button is-link">Save changes</button>
          <button id="deletecancel" class="button">Cancel</button>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>
